[submodule ".registry"]
	path = .registry
	url = https://github.com/asterisk-labs/asterisk-labs.r-universe.dev
	branch = HEAD
[submodule "cozip"]
	path = cozip
	url = https://github.com/asterisk-labs/taco
	branch = main
	subdir = cozip/r
